.textarea-browse-all {
    height: 20em;
    background: url(../img/bcg.PNG);
    padding: 2em 3em 2em 3em;
    margin-top: 1em;
    margin-bottom: 3em;
}

.textarea-browse-all h1 {
    font-family: 'Oregano', cursive; 
    font-size: 5em;
}

.textarea-browse-all h2 {
    font-size: 3em;
    margin-top: 0.5em;
}

.textarea-browse-all h3 {
    font-size: 2em;
    margin-top: 0.5em;
}

.container-cakes {
    margin-left: 3em;
}

.container-cakes .row .col {
    margin-bottom: 2em;
}

.container-cakes .row .col .card {
    width: 18rem;
}

.container-cakes .row .col img {
    width: 100%;
    height: 25em;
}

.container-cookies {
    margin-left: 3em;
}

.container-cookies .row .col {
    margin-bottom: 2em;
}

.container-cookies .row .col .card {
    width: 18rem;
}

.container-cookies .row .col img {
    width: 100%;
    height: 25em;
}

.container-muffins {
    margin-left: 3em;
}

.container-muffins .row .col {
    margin-bottom: 2em;
}

.container-muffins .row .col .card {
    width: 18rem;
}

.container-muffins .row .col img {
    width: 100%;
    height: 25em;
}

.container-pies {
    margin-left: 3em;
}

.container-pies .row .col {
    margin-bottom: 2em;
}

.container-pies .row .col .card {
    width: 18rem;
}

.container-pies .row .col img {
    width: 100%;
    height: 25em;
}

.container-desserts {
    margin-left: 3em;
}

.container-desserts .row .col {
    margin-bottom: 2em;
}

.container-desserts .row .col .card {
    width: 18rem;
}

.container-desserts .row .col img {
    width: 100%;
    height: 25em;
}

.container-all {
    margin-left: 3em;
}

.container-all .row .col {
    margin-bottom: 2em;
}

.container-all .row .col .card {
    width: 18rem;
}

.container-all .row .col img {
    width: 100%;
    height: 25em;
}