.textarea-specified {
    height: 15em;
    padding-top: 2em;
    margin-bottom: 3em;
    border-bottom: 1px solid rgb(184, 182, 182);
    text-align: center;
    background-color: #f2ece8;
}

.textarea-specified h1 {
    font-family: 'Norican', cursive;
    font-size: 5em;
}

.textarea-specified h2 {
    font-size: 2.5em;
    padding-top: 0.4em;
    padding-bottom: 1em;
}

.recipie-container {
    margin: 0 15em 3em 15em;
}

.recipie-container .img-cont {
    height: 40%;
}

.recipie-container .img-cont .row .col {
    height: 30%;
    width: 50%;
    margin: auto;
}

.recipie-container .img-cont .row .col img {
    height: auto;
    width: 100%;
}

.recipie-container h4 {
    margin: 1.5em 0 0 1.5em;
    font-family: 'Oregano', cursive;
    font-size: 2em;
    color: rgb(222, 160, 140);
}

.recipie-container .indigriends p {
    font-weight: 700;
    font-size: 1.4em;
    margin: 0;
}

.recipie-container .indigriends {
    padding: 0 0 0 2em;
}

.recipie-container .indigriends li {
    font-size: 1.1em;
}

.recipie-container .indigriends ul {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.recipie-container .recipie h5 {
    font-weight: 700;
    font-size: 1.4em;
    margin: 0 0 0.3em 0;
}

.recipie-container .recipie {
    padding: 0 0 0 2em;
}

.recipie-container .recipie li {
    font-size: 1.1em;
    padding-bottom: 7px;
}

.recipie-container .recipie ol {
    padding-left: 1.3em;
    margin-bottom: 1em;
}
