body {
    font-family: Candara, sans-serif !important;
}

.d-flex img {
    height: auto;
    max-width: 100%;
}

.navbar .nav-item {
    font-weight: bold;
    margin-left: 1em;
}

.nav a {
    color: black;
}

.nav .nav-item {
    border-radius: 15px;
    background-color: #ecdfd6;
    margin-left: 2em;
    transition: background-color .5s;
}

.nav .nav-item .active {
    border-radius: 15px;
    background-color: #333333;
    color: white;
}

.nav .nav-item:hover {
    background-color: #333333;
    text-decoration: none;
}

.nav .nav-item:hover a {
    color: white;
}

.nav {
    margin-top: 1em;
}

.content-about {
    width: 100%;
    padding: 1em 2em;
}

.content-about .name {
    text-align: center;
}

.content-about .descr {
    background-color: #ecdfd6;
    width: 40%;
    padding: 1em 2em;
    margin: 2em auto;
    text-align: center;
}

.content-about h1 {
    font-family: 'Norican', cursive;
    color: rgb(222, 160, 140);
    font-size: 6em;
}

.content-about p {
    font-size: 1.7em;
    font-family: 'Oregano', cursive; 
    color: #333333;
}

.content-about .descr img {
    max-height: 12em;
    width: auto;
    border-radius: 50%;
    margin: 1em 0 1.4em 0;
}

.content-about .descr h4 {
    font-family: 'Oregano', cursive; 
    font-size: 2.4em;
    color: rgb(222, 160, 140);
    text-align: left;
    padding-left: 1em;
    padding-top: 0.2em;
}

.search-results {
    text-align: center;
    justify-content: center;
}

.search-results h1 {
    font-family: 'Norican', cursive;
    color: rgb(222, 160, 140);
    font-size: 6em;
}

.search-results p {
    font-size: 2.5em;
    font-family: 'Oregano', cursive; 
    color: #333333;
}

.search-results .btn#return {
    font-family: 'Oregano', cursive; 
    color: rgb(222, 160, 140);
    font-size: 2em;
    float: left;
}

.search-results .row .col {
    margin-bottom: 2em;
    width: 50px;
    justify-content: center;
}

.search-results .row .col .card {
    width: 18em;
}

.search-results .row .col img {
    width: 100%;
    height: 25em;
}
